* {
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins',sans-serif;
}
/* Common */
.break-all{
    word-break: break-all;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp,1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2{
    --line-clamp:2;
}
.content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}
a{
    text-decoration: none;
}
.btn {
    display: inline-block;
    line-height: 50px;
    border-radius: 24.5px;
    background: #171100;
    min-width: 118px;
    text-align: center;
    padding: 0px 16px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
}
.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}
.heading{
    color: #171100;
    font-family: Sen;
    letter-spacing: -1.16px;
    font-weight: 700;
    margin-bottom: 22px;
}
.heading.lv1{
    font-size: 5.8rem;
    line-height: 1.2;
}
.heading.lv2{
    font-size: 3.8rem;
    line-height: 1.3;
}
.desc{
    /* width: 458px; */
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7; /* 166.667% */
}
/* ==Header== */
.header{
    background: #FFFCF4;
}
.header .fixed{
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .navbar{
    padding:36px 0 8px;
}

.navbar {
    display: flex;
    align-items: center;
}
.navbar ul {
    display: flex;
    margin-left: auto;
    /* margin-right: 70px; */
}
.navbar li a{
    position: relative;
    padding: 8px 21px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
}
.navbar li a:hover,
.navbar li.active a{
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.navbar li.active a::after{
    position: absolute;
    display: block;
    left: 21px;
    bottom: 6px;
    content: "";
    width: 12px;
    height: 2px;
    background:#171100;
    border-radius: 1px;
}
.navbar .sign-up-btn{
    min-width: 144px;
    margin-left: 49px;
}
/* hero */
.hero{
    padding: 56px 0 65px;
    background: #FFFCF4;
}
.hero .body{
    display: flex;
}
.media-block{
    width: 48%;
    position: relative;
}
.content-block{
    width: 52%;
    padding:64px 0 0 130px; ;
}
.hero .media-block .img{
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}
.hero-summary{
    width: 270px;
    padding: 24px;
    position: absolute;
    right: 0;
    bottom: 48px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero-summary .item{
    display: flex;
    align-items: center;
}
.hero-summary .icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF9E8;
}
.hero-summary .info{
    margin-left: 16px;
    
}
.hero-summary .label{
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}
.hero-summary .title{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    
}
.hero-summary .item + .item{
    margin-top: 22px;
}
.hero-summary .item:nth-of-type(2) .icon{
    background: #FCEFFF;
}
.hero-summary .item:nth-of-type(3) .icon{
    background: #EBEAFF;
}
.cta-group{
    margin-top: 38px;
    margin-bottom: 48px;
}
.content-block .btn{
    min-width: 180px;
    border-radius: 32px;
    background: #FFB900;
    margin-right: 28px;
    line-height: 64px;
}
.content-block .cta-group{
    display: flex;
}
.content-block .watch-video{
    display: flex;
    align-items: center;
    border: none;
    background: #FFFCF4;
    cursor: pointer;
}
.content-block span{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 14px;
}
.content-block .icon{
    width: 40px;
    height: 40px;
    background: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-block .desc-group{
    margin-top: 8px;
    display: flex;
}
.content-block strong{
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
}
.content-block .desc-student{
    margin-right: 28px;
}
/* popular */
.popular{
    padding: 65px 0;
    margin-top: 135px;
}
.popular .desc{
    font-size: 14px;
}
.popular .popular-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .control-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 18px;
    border: 1px solid #FFB900;
    background: transparent;
    color: #FFB900;
}
.popular .control-btn:first-child{
    margin-left: 0;
}
.popular .control-btn:hover{
    color: #FFF;
    background: #FFB900;
    cursor: pointer;
}
/* Course */
.course-list{
    display: flex;
    gap: 30px;
    width: 100%;
}
.course-list .thumb{
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    margin-left: -1px;
}
.course-list .course-item{
    width:31.6%;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
}
.course-list .desc{
    width: 89%;
    font-size: 14px;
}
.course-list .info{
    padding: 16px 22px 22px;
}
.course-list .course-item:hover{
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);

}
.course-list .title{
    margin-bottom: 6px;
    padding-right: 6px;
}
.course-list .title a,.price{
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.course-list .value{
    color: #FEA31B;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.course-list .rating{
    display: flex;
    align-items: center;
}
.course-list .head{
    display: flex;
    justify-content: space-between;
}
.course-list .value{
    margin-left: 6px;
}
.popular-top .desc{
    margin-bottom: 55px;
}
.course-item .desc{
    margin-bottom: 12px;
}
.course-item .foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-item .btn:hover{
    background: #FFB900;
    border-color: transparent;
}
/* avatar */
.feedback {
    background: #2E2100;
    margin-top: 135px;
    margin-bottom: 200px;
}
.feedback-list{
    display: flex;
    overflow: hidden;
}
.feedback .avatar{
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 18px;
}
.feedback .feedback-item{
    width: 100%;
    display: flex;
    padding: 96px 0px;
    flex-shrink: 0;
}
.feedback blockquote{
    width: 100%;
    margin-left: 30px;
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54; /* 153.846% */
} 
.feedback .content-feedback{
    width: 66%;
    margin-left: auto;
}
.feedback .title{
    color: #F7F7F7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42; 
    margin-bottom: 4px;
}
.feedback .desc{
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}
.feedback .dots{
    display: flex;
    margin-top: 28px;
}
.feedback .dots .dot{
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 50%;
}
.feedback .dots .dot + .dot{
    margin-left: 6px;
}
.feedback .dots .dot:hover{
    cursor: pointer;
}
.feedback .dot.active{
    background-color: #FFB900;
}
/* Feature */
.features .body{
    display: flex;
    align-items: center;
    margin-bottom: 200px;
    justify-content: space-between;
}
.features .content-feature{
    width: 40.2%;
}
.features .desc{
    font-size: 16px;
}
.features .image .img{
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}
.features .image{
    position: relative;
    width: 48.7%;
    height: 438px;
}
.features .img1{
    position: absolute;
    left: 0;
    bottom: 0;
}
.features .img2{
    position: absolute;
    top: 0;
    right: 0;
}
.features .heading{
    margin-bottom: 16px;
}
.features .desc + .desc{
    margin-top: 16px;
    margin-bottom: 32px;
}
.features .btn{
    min-width: 137px;
    background: #FFB900;
}
.features-2nd .body{
    flex-direction: row-reverse;
}
.features-2nd .image{
    width: 40.2%;
    position: relative;
}
.features-2nd .content-feature{
    width: 48.7%;
}
.features-2nd .image .img{
    position: absolute;
    right: 0;
    width: 470px;
    height: 440px;
}
.features-2nd .btn{
    margin-top: 32px;
}